body {
    background-color: #F4F6F6;
}
#title {
    background-color: #2E4053;
}
h2.ui.center.header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: white;
}

#spinner {
    margin-top: 1em;
    padding-bottom: 10em;
}

#selectedcard {
    background-color: #EBF5FB;
}

.space {
    margin-bottom: 5px;
}