{% extends "layout.html" %}

{% block content %}
<script>
    $(document).ready(function() {
        $("#queryForm").submit(function(e) {
            e.preventDefault();
            $('#spinner').show();

            jQuery(function () {
                var $els = $('div[id^=quote]'),
                i = 0;
                len = $els.length;
                $els.slice(1).hide();
                $els.eq(i).fadeIn();
                var id = setInterval(frame, 10000);
                function frame() {
                    if (i + 1 == len) {
                        clearInterval(id);
                    } else {
                        $els.eq(i).fadeOut();
                        i++; 
                        $els.eq(i).fadeIn();
                    }
                }
            });

            $('#doc_results').empty();
            $('#comp_results').empty();
            // e.stopPropagation(); 
            var query = $("#query").val();
            $.ajax('/query', {
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({"query": query}),
                dataType: 'json',
                success: function(response) {
                    results = response.response.results;
                    console.log(results);
                    var documentCards = $();
                    var comprehensionCards = $();
                    results.forEach(function(item, i) {
                        var card = createCard(item, i);
                        documentCards = documentCards.add(card[0]);
                        comprehensionCards = comprehensionCards.add(card[1])
                    });
                    $('#spinner').hide();
                    $(function() {
                        $('#doc_results').append(documentCards);
                        $("#comp_results").append(comprehensionCards);
                        $("#comp_results").children().hide();
                        $('#doc_results').children().first().children().first().attr('id', "selectedcard");
                        $("#comp_results").children().first().show();
                        firstElementHightlight();
                    });
                },
                error: function(xhr, ajaxOptions, thrownError){
                    alert(xhr.responseText);
                    alert(thrownError);
                }
          });
      });

    function createCard(cardData, idx){
        var context = cardData.paragraphs;
        for (var i=0; i<cardData.comprehension.length; i++) {
            var highlighted_answer = '<span style="background-color: #D7DBDD;">';
            var context_para = cardData.comprehension[i].context;
            var answer_start = cardData.comprehension[i].offset_answer_start;
            var answer_end = cardData.comprehension[i].offset_answer_end;
            var intial_part = context_para.substring(0, answer_start);
            var highlighted_part = context_para.substring(answer_start, answer_end);
            var rest_part = context_para.substring(answer_end, context_para.length);
            highlighted_answer += intial_part;
            var score = cardData.comprehension[i].probability;
            if (score > 0.5) {
                if (i == 0){
                    highlighted_answer += '<span style="background-color: #82E0AA;" id="top" >' + highlighted_part + '</span>';
                } else {
                    highlighted_answer += '<span style="background-color: #82E0AA;" >' + highlighted_part + '</span>';
                }
            } else if (score < 0.5 && score > 0.3){
                if (i == 0){
                    highlighted_answer += '<span style="background-color: #85C1E9;" id="top">' + highlighted_part + '</span>';
                } else {
                    highlighted_answer += '<span style="background-color: #85C1E9;" >' + highlighted_part + '</span>';
                }
            } else {
                if (i == 0){
                    highlighted_answer += '<span style="background-color: #909497;" id="top">' + highlighted_part + '</span>';
                } else {
                    highlighted_answer += '<span style="background-color: #909497;" >' + highlighted_part + '</span>';
                }
            }
            highlighted_answer += rest_part;
            highlighted_answer += '</span>';

            console.log("comp answer = ", cardData.comprehension[i].answer);
            console.log("indices answer = ", context_para.substring(answer_start, answer_end));
            // context.push(cardData.paragraphs[para_id]);
            context[cardData.comprehension[i].paragraph_id] = highlighted_answer
            // context.push(highlighted_answer);
        }

        var paragraphs_html = "";
        for (var i=0; i<context.length; i++) {
            paragraphs_html += context[i];
            paragraphs_html += '<div class="space"></div>'
        }

        var content_html = "";
        for (var i=0; i<cardData.paragraphs.length; i++) {
            content_html += cardData.paragraphs[i];
            content_html += '<div class="space"></div>';
        }

        var title = "";
        if (cardData.title){
            title = cardData.title;
        } else {
            title = "Paper Link"
        }

        var confidence_html = "";
        if (cardData.document_score > 0.6) {
            confidence_html = '<i class="circle icon" style="color: #138D75;"></i>';
            confidence_html += '<a> High Confidence: ' + cardData.document_score + "</a>";
        } else if (cardData.document_score < 0.6 && cardData.document_score > 0.3) {
            confidence_html = '<i class="circle icon" style="color: #F4D03F;"></i>';
            confidence_html += '<a> Medium Confidence: ' + cardData.document_score + "</a>";
        } else {
            confidence_html = '<i class="circle icon" style="color: #F08080;"></i>';
            confidence_html += '<a> Low Confidence: ' + cardData.document_score + "</a>";
        }
        var documentRankCardTemplate = [
            '<div class="column space document" id="', idx.toString() ,'">',
                '<div class="ui raised card link doc">',
                    '<div class="content">',
                        '<div class="description">',
                            title.substr(0, 130),
                        '</div>',
                    '</div>',
                    '<div class="extra content">',
                        '<span>',
                            '<a class="abstract_modal" id="', idx.toString() ,'">Show Abstract</a>',
                        '</span>',
                        '<span class="right floated">',
                            '<a class="content_modal" id="', idx.toString() ,'">Show Content</a>',
                        '</span>',
                    '</div>',
                    '<div class="extra content">',
                        confidence_html,
                    '</div>',
                '</div>',
            '</div>'
        ];
        var comprehensionCardTemplate = [
            '<div class="column" id="comprehension_', idx.toString() ,'">',
                '<h4 class="ui blue segment top attached header">',
                '<a href="', cardData.url, '" target="_blank">', title, '</a></h4>',
                '<div class="ui bottom attached segment">',
                    '<div class="ui extra content top attached block header">',
                        '<div class="ui stackable three column divided grid container">',
                            '<div class="row">',
                                '<div class="column">',
                                    'Published Date:', cardData.publish_time,
                                '</div>',
                                '<div class="column">',
                                    'License:', cardData.license,
                                '</div>',
                                '<div class="column">',
                                    'Source:', cardData.source,
                                '</div>',
                            '</div>',
                        '</div>',
                        '<div class="ui stackable one column divided grid container">',
                        '<div class="row">',
                            '<div class="column">',
                                'Authors:', cardData.authors,
                            '</div>',
                        '</div>',
                        '</div>',
                    '</div>',
                    '<div class="ui divider"></div>',
                    '<div class="ui stackable three column divided grid container">',
                        '<div class="row">',
                            '<div class="column">',
                                '<i class="circle icon" style="color: #82E0AA;"></i>',
                                'High Confidence',
                            '</div>',
                            '<div class="column">',
                                '<i class="circle icon" style="color:#85C1E9;"></i>',
                                'Medium Confidence',
                            '</div>',
                            '<div class="column">',
                                '<i class="circle icon" style="color:#909497;"></i>',
                                'Low Confidence',
                            '</div>',
                        '</div>',
                    '</div>',
                    '<div class="ui divider"></div>',
                    '<div class="scrolling content" style="max-height: 500px; overflow:auto;" id="temp_', idx.toString() ,'">',
                        paragraphs_html,
                    '</div>',
                    '<div class="ui divider"></div>',
                    '<div class="extra content">',
                        '<span>',
                            'Affiliations: <a>', cardData.affiliations ,'</a>',
                        '</span>',
                    '</div>',
                '</div>',
            '</div>',
            '<div class="ui longer modal" id="abstract_', idx.toString() ,'">',
                '<div class="header">Abstract</div>',
                    '<div class="scrolling content">',
                    '<p>', cardData.abstract ,'</p>',
                '</div>',
            '</div>',
            '<div class="ui longer modal" id="content_', idx.toString() ,'">',
                '<div class="header">Content</div>',
                    '<div class="scrolling content">',
                    '<p>', content_html ,'</p>',
                '</div>',
            '</div>'
        ];
        return [$(documentRankCardTemplate.join('')), $(comprehensionCardTemplate.join(''))];
    }

    });

    $(document).on("click", "a.abstract_modal", function(){
        var id = $(this).attr('id');
        $('#abstract_' + id).modal('show');
    });

    $(document).on("click", "a.content_modal", function(){
        var id = $(this).attr('id');
        $('#content_' + id).modal('show');
    });

    $(document).on("click", "a.context_modal", function(){
        var id = $(this).attr('id');
        $('#context_' + id).modal('show');
    });

    $(document).on("click", "div.column.document", function(e){
        e.preventDefault();
        var id = $(this).attr('id');
        $("#comp_results").children().hide();
        $('#comprehension_' + id).show();
        $('div.ui.raised.card.link.doc').removeAttr('id');
        $(this).children().first().attr('id', "selectedcard");
        var $ele = $('#comprehension_' + id).find('#top');
        goToByScroll($ele, id);
    });

    function goToByScroll(ele, id){
        $('#temp_'+id).animate({
            scrollTop: $(ele).offset().top - $('#temp_'+id).offset().top + $('#temp_'+id).scrollTop()},
            'slow');
    }

    function firstElementHightlight(){
        var $ele = $('#comprehension_0').find('#top');
        goToByScroll($ele, 0);
    }


</script>

<div class="ui segments">
    <div class="ui segment">
        <form class="ui form" id="queryForm">
            <div class="field">
                <div class="ui icon input">
                    <input id="query" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                  </div>
            </div>
        </form>
    </div>
</div>


<div class="ui segment" id="spinner" style="display: none;">
    <div class="ocrloader">
        <em></em>
        <div>
          <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
          <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
          <i></i><i></i><i></i>
        </div>
        <span></span>
    </div>
      <div class="ui center aligned header" id="spinnerText">
        <div id="quote1"><span class="quote" style="color: #884EA0;">Scanning <b style="font-size: xx-large;">{{num_docs}}</b> documents...</span></div>
        <div id="quote2" style="color: #E67E22;">Ranking <b style="font-size: xx-large;">{{num_docs}} </b> documents...</div>
        <div id="quote3" style="color: #3498DB;">Comprehending <b style="font-size: xx-large;"> {{num_docs}} </b> documents...</div>
      </div>
    <p></p>
    <p></p>
</div>


<div class="ui grid">
   <div class="four wide column" id="doc_results">
        <!-- <div class="column">
            <div class="ui raised card link doc">
                <div class="content">
                  <div class="description">
                    0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
                <div class="extra content">
                    <span>
                        <a class="abstract_modal" id="1">Show Abstract</a>
                    </span>
                    <span class="right floated">
                        <a class="content_modal" id="1">Show Content</a>
                    </span>
                </div>
                <div class="extra content">
                    <i class="circle icon" style="color: darkgreen;"></i>
                    Confidence: <a>0.45</a>
                </div>
            </div>
        </div> -->
   </div>

   <div class="twelve wide column scrolling content" id="comp_results">
        <!-- <div class="column">
            <h4 class="ui blue segment top attached header"><a>Title</a></h4>
            <div class="ui bottom attached segment">
                <div class="ui extra content top attached block header">
                    <div class="ui stackable three column divided grid container">
                        <div class="row">
                            <div class="column">
                                Published Date:
                            </div>
                            <div class="column">
                                License:
                            </div>
                            <div class="column">
                                Source:
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                Authors:
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <div class="ui stackable three column divided grid container">
                        <div class="row">
                            <div class="column">
                                <i class="circle icon" style="color: #ABEBC6;"></i>
                                High Confidence
                            </div>
                            <div class="column">
                                <i class="circle icon" style="color:#afdce3;"></i>
                                Medium Confidence
                            </div>
                            <div class="column">
                                <i class="circle icon" style="color:#D7DBDD;"></i>
                                Low Confidence
                            </div>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                    <div>
                        Panel content
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <a>Affliations: </a>
                </div>
            </div>
        </div> -->
    </div>
</div>


{% endblock %}